<form action="/create" method="post" class="createForm">
  <div class="form-group">
    <label for="command">command</label>
    <input required="required" type="text" class="form-control" id="command" name="command" placeholder="Enter  command">
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <input required="required" type="text" class="form-control" id="description" name="description" placeholder="description">
  </div>
  <div class="form-group">
    <label for="exemple">exemple</label>
    <input required="required" type="text" class="form-control" id="exemple" name="exemple" placeholder="exemple">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>